@charset "UTF-8";

 body {
    background-color: rgb(136, 158, 75);
 }
 * {
    margin: 0px;
    padding: 0px;
 }
 html, body {
    min-height: 100%;

    background-color: darkolivegreen;
 }
 header {
    background-color: black;
    color: white;
    text-align: center;
 }
 header > h1 {
    padding-top: 50px ;
    font-variant: small-caps;
 }
 header > p {
  padding-bottom: 50px;
 }
 a {
    color: white;
    text-decoration: none ;
    font-weight: bolder;
 }
 a:hover {
    text-decoration: underline;
 }
 footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
 }
 .normal {
    background-color: aqua;
    color: black;
 }
 .imagen {

    background-color: rgb(102, 102, 102);
    color: whitesmoke;
 }
 .imagen > p {
    width: 400px;
    background-color: rgba(92, 92, 92, 0.267);

 }
 section {
    padding-top: 10%;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
 }
 